{% extends 'frontend_layout.html.twig' %}


{% block title %}Bienvenue sur inRestock !{% endblock %}

{% block body %}



<div class="list-ul">
    {% for user in users if user.role.code == 'ROLE_ADMIN' %}
    <div class="list-li">
        <a href="{{path('security_login', {'username' : user.username} )}}">
            <div class="card padding-top">
                <div class="card-image">
                    <figure class="image is-128x128 image-center">
                        <img src="{{ asset(image_upload_path ~  ((user.photo ?: 'default-user-image.png')))  }}">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <div class="new-title">
                                <h2 class="title is-5">{{user.firstName}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>


<div class="list-ul">
    {% for user in users if user.role.code == 'ROLE_MANAGER' %}

    <div class="list-li">
        <a href="{{path('security_login', {'username' : user.username} )}}">
            <div class="card padding-top">
                <div class="card-image">
                    <figure class="image is-128x128 image-center">
                        <img src="{{ asset(image_upload_path ~  ((user.photo ?: 'default-user-image.jpg')))  }}">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <div class="new-title">
                                <h2 class="title is-5">{{user.firstName}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

<div class="list-ul">
    {% for user in users if user.role.code == 'ROLE_USER' %}

    <div class="list-li">
        <a href="{{path('security_login', {'username' : user.username} )}}">
            <div class="card padding-top">
                <div class="card-image">
                    <figure class="image is-128x128 image-center">
                        <img src="{{ asset(image_upload_path ~  ((user.photo ?: 'default-user-image.jpg')))  }}">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <div class="new-title">
                                <h2 class="title is-5">{{user.firstName}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}