{% extends 'backend/backend_layout.html.twig' %}

{% block title %}stock de {{product.name}} {% endblock %}

{% block body %}
<nav class="breadcrumb has-succeeds-separator transparent" aria-label="breadcrumbs">
        <ul>
            <li><a href="{{ path('backend_index')}}">Accueil</a></li>
            <li><a href="{{ path('backend_product_show', {'id' : product.id})}}">{{product.name}}</a></li>
            <li class="is-active"><a href="{{ path('backend_role_index') }}" aria-current="page">Crée un stock</a></li>
        </ul>
    </nav>

<div class="new-title">
    <h4 class="title is-4">Créer le stock de {{product.name}}</h4>
</div>

    {{ include('backend/stock/_form.html.twig') }}
    <p class="control">
        <a class="button is-primary" href="{{ path('backend_product_show', {'id': product.id}) }}">retour au produit</a>
    </p>
</div>
{% endblock %}
