{% extends 'backend/backend_layout.html.twig' %}

{% block title %}{{category.name}}{% endblock %}

{% block body %}

<nav class="breadcrumb has-succeeds-separator transparent" aria-label="breadcrumbs">
    <ul>
        <li><a href="{{ path('backend_index')}}">Accueil</a></li>
        <li><a href="{{ path('backend_category_index')}}">Liste des catégories</a></li>
        <li class="is-active"><a href="#" aria-current="page">{{category.name}}</a></li>
    </ul>
</nav>

<div class="new-title">
    <h2 class="title is-2">{{category.name}}</h2>
</div>
<div class="transparent">
    <h3 class="subtitle is-5">Produits associés à cette catégorie :</h3>
    {% for product in category.products %}

    <ul>
        <li>
            <a href="{{ path('backend_product_show', {'id': product.id}) }}">{{product.name}}</a>
        </li>
        {% else %}
        <li>Aucun produit trouvé </li>
    </ul>
    {% endfor %}
</div>

<div class="field is-grouped create-new">
    <p class="control">
        <a class="button is-primary" href="{{ path('backend_category_index') }}">
            Retour a la liste
        </a>
    </p>
    <p class="control">
        <a class="button is-warning" href="{{ path('backend_category_edit', {'id': category.id}) }}">
            Modifier la catégorie
        </a>
    </p>
    <p class="control">
        {{ include('backend/category/_delete_form.html.twig') }}

    </p>
</div>

{% endblock %}