{% extends 'backend/backend_layout.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}

    <h2 class="title is-2">{{ product.name }}</h2>

    <nav class="is-grouped">
        {# le lien doit amener à la page du stock du produit ou à la page permettant de créer le stock avec le champ produit déjà entré #}
        {% if product.stock %}
        <a class="button is-info"  href="{{ path('stock_edit', {'id': product.stock.id} ) }}">
            gérer le stock du produit
        </a>
        {% else %}
        <a class="button is-info"  href="{{ path('stock_new', {'id': product.id}) }}">
            créer le stock du produit
        </a>
        {% endif %}

        {# le lien doit amener à un formulaire de création de fournisseur où le champ produit est déjà rempli #}
        <a class="button is-info"  href="{{ path('supplier_new') }}">
            ajouter un fournisseur à ce produit
        </a>
    </nav>

    <h4 class="create-new title is-4">Liste des fournisseurs de {{ product.name }}</h4>


    <table class="table is-hoverable">
        <thead>
            <tr>
                <th>nom</th>
                <th>entreprise</th>
                <th>adresse</th>
                <th>téléphone</th>
                <th>mail</th>
            </tr>
        </thead>
        <tbody>
            {% for supplier in product.suppliers %}
            <tr>
                <td>{{ supplier.name }}</td>
                <td>{{ supplier.societyName }}</td>
                <td>{{ supplier.town }}</td>
                <td>{{ supplier.phone }}</td>
                <td>{{ supplier.mail }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="12">Aucun fournisseur</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h4 class="title is-4">Stock de {{ product.name }}</h4>

    <table class="table is-hoverable">

        <tbody>
            {% if product.stock %}
            <tr>
                <th>unité de conditionnement</th>
                <td>{{ product.stock.packaging }}</td>
            </tr>
            <tr>
                <th>Stock actuel</th>
                <td>{{ product.stock.stock }}</td>
            </tr>
            <tr>
                <th>Limite de déclenchement de l'alerte</th>
                <td>{{ product.stock.stockAlert }}</td>
            </tr>

            {% else %}
            <tr>
                <td>Aucun stock</td>
            </tr>
            {% endif %}
        </tbody>
    </table>

    <div class="field is-grouped">
            <p class="control">
              <a class="button is-primary" href="{{ path('product_index') }}">
                  Retour a la liste
              </a>
            </p>
            <p class="control">
              <a class="button is-warning" href="{{ path('product_edit', {'id': product.id}) }}">
                  Modifier le produit
              </a>
            </p>
            <p class="control">
            {{ include('backend/product/_delete_form.html.twig') }}

            </p>
          </div>



{% endblock %}
