{% extends 'backend/backend_layout.html.twig' %}

{% block title %}Rôle {{role.name}}{% endblock %}

{% block body %}
<h2 class="title is-2">Rôle {{role.name}}</h2>

<div class="new-title">
    <h4 class="title is-4">Liste des salariés ayant ce rôle</h4>
</div>
<div class="transparent">
    <ul>
        {% for user in role.users %}
        <li>
            {{ user.lastname }} {{ user.firstname }}
        </li>
        {% else %}
        <tr>
            <td colspan="12">Aucun salarié</td>
        </tr>
        {% endfor %}
    </ul>
</div>
<div class="field is-grouped">
    <p class="control">
        <a class="button is-primary" href="{{ path('role_index') }}">
            Retour à la liste
        </a>
    </p>
    <p class="control">
        <a class="button is-warning" href="{{ path('role_edit', {'id': role.id}) }}">
            Modifier le rôle
        </a>
    </p>
    <p class="control">
        {{ include('backend/role/_delete_form.html.twig') }}
    </p>
</div>

{% endblock %}