{% extends 'backend/backend_layout.html.twig' %}

{% block title %}liste des mouvements en stock{% endblock %}

{% block body %}
   <div class="new-title"> <h2 class="title is-2">Liste des mouvements en stock</h2></div>

    <table class="table is-hoverable">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(historiqueStock, 'Produit', 'p.name') }}</th>
                <th>{{ knp_pagination_sortable(historiqueStock, 'Modification', 'm.name') }}</th>
                <th>{{ knp_pagination_sortable(historiqueStock, 'Variation', 'h.variation') }}</th>
                <th>{{ knp_pagination_sortable(historiqueStock, 'Employé', 'u.firstName') }}</th>
                <th>{{ knp_pagination_sortable(historiqueStock, 'Poste', 'h.post') }}</th>
                <th>{{ knp_pagination_sortable(historiqueStock, 'Role', 'h.role') }}</th>
                <th>{{ knp_pagination_sortable(historiqueStock, 'Stock', 'h.newStock') }}</th>
                <th>{{ knp_pagination_sortable(historiqueStock, 'Date-heure', 'h.createdAt') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for movement in historiqueStock %}
            <tr>
                <td>{{ movement.stock.product.name }}</td>
                <td>{{ movement.modification }}</td>
                <td>{{ movement.variation }}</td>
                <td>{{ movement.user.firstname }}</td>
                <td>{{ movement.post}}</td>
                <td>{{ movement.role}}</td>
                <td>{{ movement.newStock}}</td>
                <td>{{ movement.createdAt|date('d-m-Y à H:m') }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="12">Aucun historique trouvé !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation has-text-centered">
            {{ knp_pagination_render(historiqueStock, null, {}, {
                'position': 'centered',
                'size': 'large',
                'rounded': true,

             }) }}

        </div>


{% endblock %}
