{% extends 'base.html.twig' %}


{% block stylesheets %}
{% endblock %}


{% block nav %}

    <nav class="navbar is-warning">
        <div class="container">
          <div class="navbar-brand">
            <a  href= "{{path('index')}}">
              <img src="{{asset('images/logoNavP.svg')}}" width="55" height="35">
            </a>

            <span class="navbar-burger burger" data-target="navMenu">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navMenu" class="navbar-menu">
            <div class="navbar-start">
              <a href="{{ path('user_index') }}" class="navbar-item">Utilisateurs</a>
              <a href="{{ path('product_index') }}" class="navbar-item">Produits</a>
              <a href="{{ path('supplier_index') }}" class="navbar-item">Fournisseurs</a>
              <a href="{{ path('category_index') }}" class="navbar-item">Categories</a>
              <a href="{{ path('post_index') }}" class="navbar-item">Postes</a>
              <a href="{{ path('role_index') }}" class="navbar-item">Rôles</a>
              <a href="{{ path('modification_index') }}" class="navbar-item">Modifications</a>
              <a href="{{ path('historique_stock') }}" class="navbar-item">Historique des modifications</a>
              <a style="margin-top:1em" "href="#" class="navbar-item button is-danger">Déconnexion</a>
            </div>


          </div>
        </div>
      </nav>

      <script type="text/javascript">
        (function() {
          var burger = document.querySelector('.burger');
          var nav = document.querySelector('#'+burger.dataset.target);
          burger.addEventListener('click', function(){
            burger.classList.toggle('is-active');
            nav.classList.toggle('is-active');
          });
        })();
      </script>
{% endblock %}