{% extends 'base.html.twig' %}

{% block nav %}
    <nav class="">
        <a class=""  href="{{ path('user_index') }}"> 
            Utilisateurs 
        </a>
        <a class=""  href="{{ path('product_index') }}"> 
            Produits 
        </a>
        <a class=""  href="{{ path('supplier_index') }}"> 
            Fournisseurs 
        </a>
        <a class=""  href="{{ path('stock_index') }}"> 
            Stock 
        </a>
        <a class=""  href="{{ path('category_index') }}"> 
            Catégories 
        </a>
        <a class=""  href="{{ path('post_index') }}"> 
            Postes 
        </a>
        <a class=""  href="{{ path('role_index') }}"> 
            Rôles 
        </a>
        <a class=""  href="{{ path('modification_index') }}"> 
            Modifications 
        </a>
        <a class=""  href="{{ path('historique_stock') }}"> 
            Historique des modifications 
        </a>
    </nav>
{% endblock %}