{% extends 'backend/backend_layout.html.twig' %}

{% block title %}Supplier index{% endblock %}

{% block body %}
    <h1>Supplier index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>SocietyName</th>
                <th>Name</th>
                <th>Mail</th>
                <th>Phone</th>
                <th>Adress</th>
                <th>Postcode</th>
                <th>Town</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for supplier in suppliers %}
            <tr>
                <td>{{ supplier.id }}</td>
                <td>{{ supplier.societyName }}</td>
                <td>{{ supplier.name }}</td>
                <td>{{ supplier.mail }}</td>
                <td>{{ supplier.phone }}</td>
                <td>{{ supplier.adress }}</td>
                <td>{{ supplier.postcode }}</td>
                <td>{{ supplier.town }}</td>
                <td>
                    <a href="{{ path('supplier_show', {'id': supplier.id}) }}">show</a>
                    <a href="{{ path('supplier_edit', {'id': supplier.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('supplier_new') }}">Create new</a>
{% endblock %}
