{% extends 'backend/backend_layout.html.twig' %}

{% block title %}{{ supplier.name }}{% endblock %}

{% block body %}

<nav class="breadcrumb has-succeeds-separator transparent" aria-label="breadcrumbs">
    <ul>
        <li><a href="{{ path('backend_index')}}">Accueil</a></li>
        <li><a href="{{ path('backend_supplier_index') }}">Fournisseurs</a></li>
        <li class="is-active"><a href="#" aria-current="page">{{ supplier.name }}</a></li>
    </ul>
</nav>

<div class="card">
    <div class="card-content">
        <div class="media">

            <div class="media-content">
                <div class="new-title">
                    <h3 class="title is-3">{{ supplier.name }}</h3>
                </div>
                <p>Société : {{ supplier.societyName }}</p>
                <p>Adresse : {{ supplier.adress }}, {{ supplier.postcode }} {{ supplier.town }}</p>
                <p>Téléphone : {{ supplier.phone }}</p>
                <p>Email : {{ supplier.mail }}</p>


            </div>
        </div>
    </div>
    <div class="card-content">
        <div class="new-title">
            <h3 class="title is-4">Produit(s) fourni(s) :</h3>
        </div>
        <ul>
            {% for product in supplier.products %}
            <li>{{product.name}}</li>
            {% else %}
            <p>Néant</p>
            {% endfor %}
        </ul>
    </div>
    <div class="field is-grouped">
        <p class="control">
            <a class="button is-primary" href="{{ path('backend_supplier_index') }}">
                Retour à la liste
            </a>
        </p>
        <p class="control">
            <a class="button is-warning" href="{{ path('backend_supplier_edit', {'id': supplier.id}) }}">
                Modifier le fournisseur
            </a>
        </p>
        <p class="control">
            {{ include('backend/supplier/_delete_form.html.twig') }}

        </p>
    </div>
</div>
{% endblock %}