{% extends 'backend/backend_layout.html.twig' %}

{% block title %}Liste des salariés{% endblock %}

{% block body %}

<nav class="breadcrumb has-succeeds-separator transparent" aria-label="breadcrumbs">
    <ul>
        <li><a href="{{ path('backend_index')}}#">Accueil</a></li>
        <li class="is-active"><a href="#" aria-current="page">Utilisateurs</a></li>
    </ul>
</nav>

<div class="new-title">
    <h2 class="title is-2">Liste de vos salariés :</h2>
</div>

<div class="table__wrapper">
    <table class="table is-hoverable">

        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Téléphone</th>
                <th>Email</th>
                <th>Responsabilité</th>
                <th>Action à effectuer</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.lastName }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role.name}}</td>
                <td>
                    <a class="button is-warning" href="{{ path('backend_user_show', {'id': user.id}) }}">voir la fiche du
                        salarié</a>
                    <a class="button is-warning" href="{{ path('backend_user_edit', {'id': user.id}) }}">modifier la fiche du
                        salarié</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>

<a class="button is-primary" href="{{ path('backend_user_new') }}">Nouvel utilisateur </a>

{% endblock %}