{% extends 'backend/backend_layout.html.twig' %}

{% block title %} {{user.lastname}} : fiche {% endblock %}

{% block body %}
<div class="card">
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-200x200">
                    <img src="{{ asset(image_upload_path ~  (user.photo))  }}">

                </figure>
            </div>

            <div class="media-content">
                <div class="new-title">
                    <h3 class="title is-3">{{ user.firstName }} {{ user.lastname }}</h3>
                </div>
                <p>Pseudo : {{ user.username }}</p>
                <p>Adresse : {{ user.adress }}, {{ user.postcode }} {{ user.town }}</p>
                <p>Téléphone : {{ user.phone }}</p>
                <p>Email : {{ user.email }}</p>
                <p>Responsabilité actuelle : {{ user.role }} </p>

            </div>
        </div>
    </div>
</div>

<div class="field is-grouped">
    <p class="control">
        <a class="button is-primary" href="{{ path('user_index') }}">
            Retour à la liste
        </a>
    </p>
    <p class="control">
        <a class="button is-warning" href="{{ path('user_edit', {'id': user.id}) }}">
            Modifier la fiche
        </a>
    </p>
    
        {{ include('backend/user/_delete_form.html.twig') }}
    
</div>
{% endblock %}